<div class="mat-elevation-z8 text-center relative overflow-hidden rounded-lg mb-10">
    @if (isLoading()) {
        <div class="absolute inset-0 z-30 bg-white dark:bg-gray-800 opacity-50"></div>
        <div class="absolute z-50 top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]">
            <mat-spinner diameter="45"></mat-spinner>
        </div>
    }

    <div class="flex flex-col lg:flex-row justify-between lg:items-center py-2">
        <h2 class="font-bold text-2xl my-2 text-left">
            {{ tableHeader() }}
        </h2>
        <div class="flex lg:justify-center">
            <mat-paginator
                [disabled]="isLoading()"
                [pageSizeOptions]="pageSizes"
                [pageIndex]="initialPageIndex()"
                [pageSize]="initialPageSize()"
                [length]="totalCount()"
                (page)="onPageEvent($event)"
                showFirstLastButtons
                aria-label="Select page of periodic elements"
            >
            </mat-paginator>
        </div>
    </div>

    @if (dataSource().data && dataSource().data.length > 0) {
        <div class="overflow-x-auto w-full">
            <div class="min-w-[800px]">
                <table
                    mat-table
                    [dataSource]="dataSource()"
                    matSort
                    (matSortChange)="onSortChange($event)"
                    [matSortActive]="initialSortActive()"
                    [matSortDirection]="initialSortDirection()"
                    class="w-full"
                >
                    @for (col of displayedColumns(); track $index) {
                        @let isSortable = col.sortable;

                        <ng-container [matColumnDef]="col.id">
                            @if (isSortable) {
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    class="!text-center text-base font-bold"
                                >
                                    <div class="flex justify-center items-center">
                                        <span mat-sort-header class="underline underline-offset-2">
                                            {{ col.label }}
                                        </span>
                                    </div>
                                </th>
                            } @else {
                                <th
                                    mat-header-cell
                                    *matHeaderCellDef
                                    class="!text-center text-base font-bold"
                                >
                                    {{ col.label }}
                                </th>
                            }

                            <td
                                mat-cell
                                *matCellDef="let element"
                                class="!text-center px-4 whitespace-nowrap truncate max-w-[240px]"
                            >
                                @let link = col.routerLink?.(element);
                                @let url = col.photoUrl?.(element);
                                @let value = col.value(element);
                                @let photoOnly = col.photoOnly?.(element);
                                @let badge = col.badge?.(element);

                                @if (link) {
                                    @if (link === null) {
                                        <span>{{ value }}</span>
                                    } @else {
                                        <a
                                            [routerLink]="link"
                                            class="flex justify-center items-center gap-2 text-blue-600 dark:text-blue-400 cursor-pointer hover:underline underline-offset-3"
                                        >
                                            @if (url) {
                                                <img
                                                    [matTooltip]="value"
                                                    [src]="url"
                                                    [alt]="value"
                                                    class="w-8 h-8 rounded-md"
                                                />
                                            }
                                            @if (!photoOnly) {
                                                {{ value }}
                                            }
                                        </a>
                                    }
                                } @else if (col.badge) {
                                    <div class="flex justify-center items-center">
                                        @if (badge?.includes('#')) {
                                            <span
                                                class="px-3 py-1 rounded-full font-semibold text-sm border-2"
                                                [style.backgroundColor]="badge + '33'"
                                                [style.borderColor]="badge"
                                                [style.color]="badge"
                                            >
                                                {{ value }}
                                            </span>
                                        } @else {
                                            <span
                                                class="px-3 py-1 rounded-full font-semibold text-sm border-2"
                                                [ngClass]="badge"
                                            >
                                                {{ value }}
                                            </span>
                                        }
                                    </div>
                                } @else {
                                    {{ value }}
                                }
                            </td>
                        </ng-container>
                    }

                    @let columns = columnIds();
                    <tr mat-header-row *matHeaderRowDef="columns"></tr>
                    <tr
                        (click)="toggleRow(row)"
                        class="cursor-pointer transition-colors"
                        [ngClass]="{
                            '!bg-light-primary !text-white hover:!bg-light-primary/70 dark:!bg-dark-hover dark:hover:!bg-dark-hover/50':
                                selectedRow()?.id === row.id,
                            'odd:!bg-light-text-hover/20 hover:!bg-light-text-hover/40 dark:odd:!bg-dark-hover/20 dark:hover:!bg-dark-hover/50':
                                selectedRow()?.id !== row.id,
                        }"
                        mat-row
                        *matRowDef="let row; columns: columns"
                    ></tr>
                </table>
            </div>
        </div>
    } @else {
        <div class="p-8 flex justify-center items-center text-gray-500">
            <span class="text-2xl">No data available</span>
        </div>
    }
</div>
