<div class="mat-elevation-z8 text-center">
    <mat-paginator
        [pageSizeOptions]="[5, 10, 20, 30, 50]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
    >
    </mat-paginator>

    @if (dataSource.data && dataSource.data.length > 0) {
        <table mat-table [dataSource]="dataSource" matSort>
            @for (col of displayedColumns; track $index) {
                <ng-container [matColumnDef]="col.id">
                    @if (col.sortable) {
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            class="underline underline-offset-2"
                        >
                            {{ col.label }}
                        </th>
                    } @else {
                        <th mat-header-cell *matHeaderCellDef>
                            {{ col.label }}
                        </th>
                    }
                    <td mat-cell *matCellDef="let element">
                        @if (col.id === 'createdAt') {
                            <ng-container>
                                {{ col.value(element) | date }}
                            </ng-container>
                        } @else if (col.id === 'status') {
                            <ng-container>
                                <span
                                    class="px-2 py-1 rounded-full font-semibold"
                                    [ngClass]="{
                                        'text-green-900': element.status === 'open',
                                        'bg-green-200': element.status === 'open',
                                        'text-blue-900': element.status === 'to_do',
                                        'bg-blue-200': element.status === 'to_do',
                                        'text-yellow-900': element.status === 'in_progress',
                                        'bg-yellow-200': element.status === 'in_progress',
                                        'text-red-900': element.status === 'closed',
                                        'bg-red-200': element.status === 'closed',
                                    }"
                                >
                                    {{ col.value(element) }}
                                </span>
                            </ng-container>
                        } @else if (
                            col.id === 'name' ||
                            col.id === 'username' ||
                            col.id === 'project' ||
                            col.id === 'title'
                        ) {
                            <span
                                class="cursor-pointer underline underline-offset-2"
                                (click)="onNameClick(element)"
                                >{{ col.value(element) }}</span
                            >
                        } @else {
                            {{ col.value(element) }}
                        }
                    </td>
                </ng-container>
            }

            @if (showActions && canModify()) {
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <button
                            *ngIf="showEditAction"
                            mat-icon-button
                            (click)="onEdit(element)"
                            aria-label="Edit"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            *ngIf="showDeleteAction"
                            (click)="onDelete(element)"
                            aria-label="Delete"
                        >
                            <mat-icon class="!text-red-600">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
            }

            <tr mat-header-row *matHeaderRowDef="columnIds"></tr>
            <tr
                class="odd:!bg-light-text-hover/20 dark:odd:!bg-dark-hover/20"
                mat-row
                *matRowDef="let row; columns: columnIds"
            ></tr>
        </table>
    } @else {
        <span class="text-2xl">No data available</span>
    }
</div>
