<mat-form-field appearance="outline" class="w-full sm:w-72">
    <mat-label>Enter a date range</mat-label>

    <mat-date-range-input
        [formGroup]="range"
        [rangePicker]="picker"
        [min]="minDate()"
        [max]="maxDate()"
    >
        <input
            matStartDate
            formControlName="startDate"
            placeholder="Start date"
            readonly
            (click)="picker.open()"
        />

        <input
            matEndDate
            formControlName="endDate"
            placeholder="End date"
            readonly
            (click)="picker.open()"
        />
    </mat-date-range-input>

    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker [touchUi]="touchUi()" #picker></mat-date-range-picker>
    @if (range.hasError('invalidRange')) {
        <mat-error>Start date cannot be after end date</mat-error>
    }
    @if (range.hasError('minDateViolation')) {
        <mat-error>Start date is too early</mat-error>
    }
    @if (range.hasError('maxDateViolation')) {
        <mat-error>End Date can not be after today</mat-error>
    }

    @if (range.controls.startDate.hasError('matStartDateInvalid')) {
        <mat-error>Invalid start date</mat-error>
    }
    @if (range.controls.endDate.hasError('matEndDateInvalid')) {
        <mat-error>Invalid end date</mat-error>
    }
</mat-form-field>
