<div
    class="max-w-md w-full p-5 xs:p-8 space-y-6 sm:m-4 bg-white rounded-xl shadow-lg dark:bg-slate-800"
>
    <div class="text-center">
        <h1 class="text-3xl font-bold text-slate-900 dark:text-white">
            @if (emailSent()) {
                Reset Password
            } @else {
                Request Password Reset
            }
        </h1>
        <p class="mt-2 text-sm text-slate-600 dark:text-slate-400">
            @if (emailSent()) {
                Please enter your credentials to reset your password
            } @else {
                Please enter your email address to receive your token
            }
        </p>
    </div>
    @if (emailSent()) {
        <app-reset-form (sendForm)="reset($event)"></app-reset-form>
    } @else {
        <app-email-form (sendForm)="resend($event)" buttonText="Send Email"></app-email-form>
    }

    <div class="text-sm flex justify-center gap-2">
        <p></p>
        @if (emailSent()) {
            Have not received the email?
            <span
                (click)="togglePage()"
                class="cursor-pointer font-medium text-light-accent dark:text-dark-primary hover:text-light-accent-hover dark:hover:text-dark-primary-hover"
            >
                Resend Email
            </span>
        } @else {
            Email received?
            <span
                (click)="togglePage()"
                class="cursor-pointer font-medium text-light-accent dark:text-dark-primary hover:text-light-accent-hover dark:hover:text-dark-primary-hover"
                >Reset Password</span
            >
        }
    </div>
</div>
