<div class="flex flex-1 items-center justify-center w-full">
    <div
        class="w-full max-w-md p-6 sm:p-8 space-y-6 bg-white rounded-xl shadow-lg dark:bg-dark-background-hover"
    >
        <div class="text-center">
            <h1 class="text-3xl font-bold text-slate-900 dark:text-white">Reset Password</h1>
            <p class="mt-2 text-sm text-slate-600 dark:text-slate-400">
                Please enter your credentials to reset your password.
            </p>
        </div>

        <form class="space-y-4" [formGroup]="form" (ngSubmit)="reset()">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Token</mat-label>
                <mat-icon matPrefix class="!text-light-text dark:!text-inherit">token</mat-icon>
                <input
                    formControlName="token"
                    matInput
                    type="token"
                    autocomplete="password-reset-token"
                    required
                />
                @if (getControl('token')?.invalid) {
                    <mat-error class="text-sm">
                        @if (getControl('token')?.hasError('required')) {
                            <span>Token is required.</span>
                        }
                        @if (getControl('token')?.hasError('serverError')) {
                            @for (
                                error of getControl('token')?.getError('serverError');
                                track $index
                            ) {
                                <span>{{ error }}</span>
                            }
                        }
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="w-full" appearance="outline">
                <mat-label>New Password</mat-label>
                <mat-icon matPrefix class="!text-light-text dark:!text-inherit">lock</mat-icon>
                <input
                    formControlName="password"
                    matInput
                    type="password"
                    autocomplete="current-password"
                    required
                />
                @if (getControl('password')?.invalid) {
                    <mat-error class="text-sm">
                        @if (getControl('password')?.hasError('required')) {
                            <span>Password is required</span>
                        }
                        @if (getControl('password')?.hasError('minLength')) {
                            <span>Password should be at least 6 characters</span>
                        }
                        @if (getControl('password')?.hasError('mustMatch')) {
                            <span>Passwords must match</span>
                        }
                        @if (getControl('password')?.hasError('serverError')) {
                            @for (
                                error of getControl('password')?.getError('serverError');
                                track $index
                            ) {
                                <span>{{ error }}</span>
                            }
                        }
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Confirm password</mat-label>
                <mat-icon matPrefix class="!text-light-text dark:!text-inherit">lock</mat-icon>
                <input
                    formControlName="rePassword"
                    matInput
                    type="password"
                    autocomplete="current-repassword"
                    required
                />

                @if (getControl('rePassword')?.invalid) {
                    <mat-error class="text-sm">
                        @if (getControl('rePassword')?.hasError('required')) {
                            <span>You must confirm your password</span>
                        }

                        @if (getControl('rePassword')?.hasError('minlength')) {
                            <span>Must be at least 6 characters</span>
                        }

                        @if (getControl('rePassword')?.hasError('mustMatch')) {
                            <span>Passwords must match</span>
                        }
                    </mat-error>
                }
            </mat-form-field>

            <div>
                <button
                    [disabled]="isLoading() || form.invalid"
                    type="submit"
                    mat-flat-button
                    color="primary"
                    class="w-full !text-white"
                >
                    @if (isLoading()) {
                        <span class="flex gap-4">
                            <mat-progress-spinner
                                diameter="20"
                                mode="indeterminate"
                                color="primary"
                            ></mat-progress-spinner>
                            Resetting...
                        </span>
                    } @else {
                        Reset Password
                    }
                </button>
            </div>
        </form>

        <div class="flex flex-col gap-2 text-center text-sm">
            <div>
                Have not received the email?
                <a
                    [routerLink]="['../request-password-reset']"
                    class="cursor-pointer font-medium text-light-accent dark:text-dark-primary hover:text-light-accent-hover dark:hover:text-dark-primary-hover"
                >
                    Resend Email
                </a>
            </div>
        </div>
    </div>
</div>
