<!-- Login Card -->
<div class="w-full max-w-md p-8 space-y-6 bg-white rounded-xl shadow-lg dark:bg-slate-800 m-4">
    <div class="text-center">
        <h1 class="text-3xl font-bold text-slate-900 dark:text-white">Reset Password</h1>
        <p class="mt-2 text-sm text-slate-600 dark:text-slate-400">
            Please enter your email address to receive a new email.
        </p>
    </div>
    <app-email-form
        *ngIf="!emailSent"
        (sendForm)="resend($event)"
        buttonText="Send Email"
    ></app-email-form>
    <form *ngIf="emailSent" class="space-y-4" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="w-full" color="accent" appearance="outline">
            <mat-label>Token</mat-label>
            <mat-icon matPrefix class="!text-light-text dark:!text-inherit">token</mat-icon>
            <input
                formControlName="token"
                matInput
                type="token"
                autocomplete="password-reset-token"
                required
            />
            <mat-error *ngIf="getControl('token')?.invalid && getControl('token')?.touched">
                <span *ngIf="getControl('token')?.hasError('required')">Email is required.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full" color="accent" appearance="outline">
            <mat-label>New Password</mat-label>
            <mat-icon matPrefix class="!text-light-text dark:!text-inherit">lock</mat-icon>
            <input
                formControlName="password"
                matInput
                type="password"
                autocomplete="current-password"
                required
            />
            <mat-icon class="cursor-pointer !text-light-text dark:!text-inherit" matSuffix
                >lock</mat-icon
            >
            <mat-error *ngIf="getControl('password')?.invalid && getControl('password')?.touched">
                <span *ngIf="getControl('password')?.hasError('required')"
                    >Password is required.</span
                >
                <span *ngIf="getControl('password')?.hasError('minLength')"
                    >Password should be at least 6 characters.</span
                >
                <span *ngIf="getControl('password')?.hasError('mustMatch')"
                    >Passwords must match.</span
                >
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full" color="accent" appearance="outline">
            <mat-label>Confirm password</mat-label>
            <mat-icon matPrefix class="!text-light-text dark:!text-inherit">lock</mat-icon>
            <input
                formControlName="rePassword"
                matInput
                type="password"
                autocomplete="current-repassword"
                required
            />
            <mat-error *ngIf="getControl('rePassword')?.invalid">
                <!-- You can also check for specific errors -->
                <span *ngIf="getControl('rePassword')?.hasError('required')"
                    >Password Confirmation is required.</span
                >
                <span *ngIf="getControl('rePassword')?.hasError('minlength')"
                    >Password Confirmation must be at least 6 characters.</span
                >
                <span *ngIf="getControl('rePassword')?.hasError('mustMatch')"
                    >Passwords must match.</span
                >
            </mat-error>
        </mat-form-field>

        <div>
            <button
                type="submit"
                mat-raised-button
                color="primary"
                class="w-full !py-3 !transition-colors !duration-300 !text-dark-text !bg-light-primary"
            >
                Reset Password
            </button>
        </div>
    </form>
    <div class="text-center text-sm flex flex-col gap-2">
        <p *ngIf="!emailSent">
            Email received?
            <span
                (click)="togglePage()"
                class="cursor-pointer font-medium text-light-accent dark:text-dark-primary hover:text-light-accent-hover dark:hover:text-dark-primary-hover"
                >Reset Password</span
            >
        </p>
        <p *ngIf="emailSent">
            Haven't received the email?
            <span
                (click)="togglePage()"
                class="cursor-pointer font-medium text-light-accent dark:text-dark-primary hover:text-light-accent-hover dark:hover:text-dark-primary-hover"
            >
                Resend Email
            </span>
        </p>
    </div>
</div>
