<div
    [formGroup]="form"
    class="pt-2 mb-6 flex items-start flex-col md:flex-row sm:justify-between gap-4"
>
    <div class="flex flex-col flex-wrap md:flex-row gap-4 w-full">
        <mat-form-field appearance="outline" class="w-full sm:w-72 shrink">
            <mat-label>Project Name</mat-label>
            <input formControlName="projectName" matInput [matAutocomplete]="auto" />

            <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="displayFn"
                (optionSelected)="onProjectChange($event.option.value.id)"
            >
                @for (project of projects(); track project.id) {
                    <mat-option [value]="project">{{ project.name }}</mat-option>
                } @empty {
                    <mat-option disabled>No projects found</mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>

        @if (endDate() && startDate()) {
            <app-date-range
                class="w-full sm:w-72 shrink"
                [startDate]="startDate()"
                [endDate]="endDate()"
                [minDate]="minDate()"
                [maxDate]="maxDate()"
                (dateRangeChange)="onDateRangeChange($event)"
            ></app-date-range>
        }
    </div>

    <button
        class="flex max-w-50 w-full md:gap-2 justify-center !text-white"
        mat-flat-button
        color="primary"
        [disabled]="!selectedProjectId()"
        (click)="openWorktimeDialog()"
    >
        <mat-icon class="!mr-0">add</mat-icon>
        <span class="hidden md:block">Add Worktime</span>
    </button>
</div>

<div class="rounded-xl overflow-hidden">
    <div class="overflow-x-auto">
        <app-table
            [isLoading]="listState.isLoading()"
            [dataSource]="shownWorktimes()"
            [displayedColumns]="displayedColumns"
            [tableHeader]="'Recent Entries'"
            [totalCount]="listState.totalCount()"
            [initialPageSize]="listState.pageSize()"
            [initialPageIndex]="listState.pageIndex()"
            [initialSortActive]="listState.sortActive()"
            [initialSortDirection]="listState.sortDirection()"
            (sortChange)="onSortChange($event)"
            (pageChange)="onPageChange($event)"
            [selectedRow]="selectedWorktime()"
            (selectedRowChange)="onRowChange($event)"
        ></app-table>
    </div>
    <div class="fixed right-6 bottom-6 z-50">
        <app-speed-dial
            #speedDial
            [buttons]="speedDialButtons()"
            [selectedRow]="selectedWorktime()"
            (selectedRowChange)="onRowChange($event)"
        ></app-speed-dial>
    </div>
</div>

<app-worktime-dialog
    [worktime]="selectedWorktime()"
    [projectId]="selectedProjectId()"
    [organizationId]="organizationId()"
    (worktimeSaved)="onWorktimeSaved($event)"
    (worktimeEdited)="onWorktimeEdited($event)"
    (onCancel)="onRowChange(null)"
    [issueId]="issueId()"
></app-worktime-dialog>

<app-delete-worktime-dialog
    [organizationId]="organizationId()"
    [worktime]="selectedWorktime()"
    (worktimeDeleted)="onDelete($event)"
></app-delete-worktime-dialog>
