<div class="flex flex-1 items-center justify-center w-full">
    <div
        class="w-full max-w-md p-6 sm:p-8 space-y-6 bg-white rounded-md shadow-lg dark:bg-dark-background-hover"
    >
        <div class="text-center">
            <h1 class="text-3xl font-bold text-slate-900 dark:text-white">Welcome Back</h1>
            <p class="mt-2 text-sm text-slate-600 dark:text-slate-400">
                Please sign in to continue
            </p>
        </div>

        <form class="space-y-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Email Address</mat-label>
                <mat-icon matPrefix>email</mat-icon>
                <input
                    formControlName="email"
                    matInput
                    type="email"
                    autocomplete="email"
                    required
                    placeholder="pat@example.com"
                />
                @if (getControl('email')?.invalid) {
                    <mat-error class="text-sm">
                        @if (getControl('email')?.hasError('required')) {
                            <span>Email is required.</span>
                        }
                        @if (getControl('email')?.hasError('email')) {
                            <span>Provide a valid email address.</span>
                        }
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Password</mat-label>
                <mat-icon matPrefix class="text-light-text dark:text-inherit">lock</mat-icon>
                <input
                    class="focus:border-dark-primary"
                    formControlName="password"
                    matInput
                    type="password"
                    autocomplete="current-password"
                    required
                />
                <mat-icon
                    class="cursor-pointer text-light-text dark:text-inherit"
                    (click)="togglePwVisibility($event)"
                    matSuffix
                >
                    {{ pwVisible() ? 'visibility_off' : 'visibility' }}
                </mat-icon>
                @if (getControl('password')?.invalid) {
                    <mat-error class="text-sm">
                        @if (getControl('password')?.hasError('required')) {
                            <span>Password is required.</span>
                        }
                        @if (getControl('password')?.hasError('minlength')) {
                            <span>Password must be at least 6 characters.</span>
                        }
                    </mat-error>
                }
            </mat-form-field>

            <div>
                <button
                    type="submit"
                    [disabled]="isLoading() || loginForm.invalid"
                    mat-flat-button
                    color="primary"
                    class="w-full !text-white"
                >
                    @if (isLoading()) {
                        <ng-container>
                            <span class="flex gap-4">
                                <mat-progress-spinner
                                    color="primary"
                                    diameter="24"
                                    mode="indeterminate"
                                ></mat-progress-spinner>
                                Signing In...
                            </span>
                        </ng-container>
                    } @else {
                        Sign In
                    }
                </button>
            </div>
        </form>

        <div class="flex flex-col gap-2 text-center text-sm">
            <div>
                Forgot password?
                <a
                    routerLink="/auth/reset-password"
                    class="font-medium text-light-accent dark:text-dark-primary hover:text-light-accent-hover dark:hover:text-dark-primary-hover"
                >
                    Request Password Reset
                </a>
            </div>
            <p>
                Don't have an account?
                <a
                    routerLink="/auth/signup"
                    class="font-medium text-light-accent dark:text-dark-primary hover:text-light-accent-hover dark:hover:text-dark-primary-hover"
                >
                    Sign up
                </a>
            </p>
        </div>
    </div>
</div>
