<div
    class="rich-text w-full rounded-lg transition-colors duration-200"
    [ngClass]="{
        ' bg-light-background dark:bg-dark-background': !isDisabled(),
        'opacity-60 pointer-events-none': isDisabled(),
    }"
>
    <quill-editor
        theme="snow"
        [classes]="'!text-light-text dark:!text-dark-text'"
        [modules]="modules"
        [placeholder]="placeholder()"
        [readOnly]="readonly()"
        [style]="{
            width: '100%',
        }"
        [styles]="{
            minHeight: minHeight(),
            maxHeight: maxHeight(),
        }"
        (onEditorCreated)="onEditorCreated($event)"
        format="object"
    >
    </quill-editor>
</div>
