<div class="flex flex-1 items-center justify-center w-full">
    <div
        class="w-full max-w-md p-6 sm:p-8 space-y-6 bg-white rounded-xl shadow-lg dark:bg-dark-background-hover"
    >
        <div class="text-center">
            <h1 class="text-3xl font-bold text-slate-900 dark:text-white">Verify Account</h1>
            <p class="mt-2 text-sm text-slate-600 dark:text-slate-400">
                We have sent an email to your email address. Please paste the verifying token in the
                input below to continue.
            </p>
        </div>

        <form class="space-y-4" [formGroup]="verifyForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Token</mat-label>
                <mat-icon matPrefix class="text-light-text dark:text-inherit">token</mat-icon>
                <input
                    formControlName="token"
                    matInput
                    type="text"
                    autocomplete="current-password"
                    required
                />
                <mat-icon matSuffix class="cursor-pointer text-light-text dark:text-inherit"
                    >lock</mat-icon
                >

                @if (getControl('token')?.invalid) {
                    <mat-error class="text-sm">
                        @if (getControl('token')?.hasError('required')) {
                            <span>Token is required.</span>
                        }
                    </mat-error>
                }
            </mat-form-field>

            <div>
                <button
                    [disabled]="isLoading() || verifyForm.invalid"
                    type="submit"
                    mat-flat-button
                    color="primary"
                    class="w-full !text-white"
                >
                    @if (isLoading()) {
                        <ng-container>
                            <span class="flex gap-4">
                                <mat-progress-spinner
                                    color="primary"
                                    diameter="20"
                                    mode="indeterminate"
                                ></mat-progress-spinner>
                                Verifying...
                            </span>
                        </ng-container>
                    } @else {
                        Verify Account
                    }
                </button>
            </div>
        </form>

        <div class="flex flex-col gap-2 text-center text-sm">
            <div>
                Have not received the email?
                <a
                    routerLink="/auth/resend-verification"
                    class="cursor-pointer font-medium text-light-accent dark:text-dark-primary hover:text-light-accent-hover dark:hover:text-dark-primary-hover"
                >
                    Resend Email
                </a>
            </div>
        </div>
    </div>
</div>
