<main class="h-screen w-full overflow-hidden">
    <mat-sidenav-container class="!h-full">
        <mat-sidenav
            #sidenav
            [mode]="sidebarMode()"
            [opened]="isSidebarOpened()"
            (openedChange)="isSidebarOpened.set($event)"
            [disableClose]="sidebarMode() === 'side' ? true : false"
            position="start"
            class="!w-64 px-2 py-4 overflow-hidden"
        >
            <div class="ps-1 mb-4">
                <a href="/" class="flex items-center gap-4">
                    <img [src]="imageSource()" width="48" />
                    <span class="text-xl font-semibold">QuickFix</span>
                </a>
            </div>
            <app-navitem [routes]="sideNavRoutes()"></app-navitem>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-navbar
                [showMenuLogo]="false"
                [isSidebarOpened]="isSidebarOpened()"
                (isSidebarOpenedChange)="isSidebarOpened.set($event)"
                (imageSourceChange)="imageSource.set($event)"
                class="row-span-1 col-span-2"
            ></app-navbar>
            <section class="flex-1 p-4 flex flex-col">
                <router-outlet></router-outlet>
            </section>
        </mat-sidenav-content>
    </mat-sidenav-container>
</main>
