<div class="max-w-7xl">
    <app-table
        [dataSource]="shownLabels()"
        [displayedColumns]="displayedColumns"
        tableHeader="Labels"
        [initialSortActive]="listState.sortActive()"
        [initialSortDirection]="listState.sortDirection()"
        [totalCount]="listState.totalCount()"
        [isLoading]="listState.isLoading()"
        (sortChange)="onSortChange($event)"
        [selectedRow]="selectedRow()"
        [enablePagination]="false"
        (selectedRowChange)="onRowChange($event)"
        [disableSelection]="isRowDisabled"
    ></app-table>
    <div class="fixed right-6 bottom-6 z-50">
        <app-speed-dial
            #speedDial
            [buttons]="speedDialButtons()"
            [selectedRow]="selectedRow()"
            (selectedRowChange)="selectedRow.set($event)"
        ></app-speed-dial>
    </div>
</div>

<app-label-form-dialog
    [organizationId]="organizationId()"
    [projectId]="projectId()"
    [label]="selectedRow()"
    (labelSaved)="onLabelSaved($event)"
    (labelEdited)="onLabelSaved($event)"
    (canceled)="onLabelFormCanceled()"
>
</app-label-form-dialog>
