<div
    [ngClass]="{
        hidden: buttons().length === 0,
        'flex flex-col-reverse gap-2 items-end': buttons().length > 0,
    }"
>
    <button mat-fab color="secondary" (click)="onTogglerClick()" aria-label="Add Project">
        <mat-icon [@speedDialToggler]="dialState()">{{ mainIconName() }}</mat-icon>
    </button>
    <div [@speedDialStagger]="shownButtons().length" class="flex flex-col gap-2">
        @for (button of shownButtons(); track $index) {
            @if (button.shown) {
                @if (button.onClick) {
                    <button
                        color="primary"
                        class="flex justify-between items-center text-dark-text bg-light-primary hover:bg-light-primary-hover dark:bg-dark-primary dark:hover:bg-dark-primary/80 md:px-4 md:py-2 p-4 rounded-sm shadow-md cursor-pointer transition-colors duration-200"
                        [ngClass]="{
                            'md:gap-2': button.label,
                        }"
                        (click)="button.onClick()"
                    >
                        <mat-icon class="!mx-0">{{ button.iconName }}</mat-icon>
                        <span class="hidden md:block">{{ button.label }}</span>
                    </button>
                } @else {
                    <a
                        color="primary"
                        class="flex justify-between items-center text-dark-text bg-light-primary hover:bg-light-primary-hover dark:bg-dark-primary dark:hover:bg-dark-primary/80 md:px-4 md:py-2 p-4 rounded-sm shadow-md cursor-pointer transition-colors duration-200"
                        [ngClass]="{
                            'md:gap-2': button.label,
                        }"
                        [routerLink]="button.action!()"
                    >
                        <mat-icon class="!mx-0">{{ button.iconName }}</mat-icon>
                        <span class="hidden md:block">{{ button.label }}</span>
                    </a>
                }
            }
        }
    </div>
</div>
