<div class="flex flex-col">
    <h2 mat-dialog-title class="text-2xl font-semibold text-gray-900 pb-4 mb-4">
        {{ data.title }}
    </h2>

    <mat-divider></mat-divider>

    <mat-dialog-content class="flex-1 overflow-y-auto px-1">
        <ng-container *ngTemplateOutlet="data.content"></ng-container>
    </mat-dialog-content>

    <mat-divider></mat-divider>

    <mat-dialog-actions class="mt-6 p-8">
        @if (data.showSaveButton) {
            <button
                mat-flat-button
                color="primary"
                (click)="onSave()"
                class="!px-6 !py-2"
                [disabled]="data.saveDisabled"
                [class]="data.saveButtonClass"
            >
                {{ data.saveLabel }}
            </button>
        }
        @if (data.showCancelButton) {
            <button
                mat-button
                (click)="onCancel()"
                class="!px-6 !py-2"
                [class]="data.cancelButtonClass"
            >
                {{ data.cancelLabel }}
            </button>
        }
    </mat-dialog-actions>
</div>
