/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
    --breakpoint-xs: 25rem;

    --color-light-text: #0f0c18;
    --color-light-background: #e8e4f6;
    --color-light-primary: #2a196b;
    --color-light-secondary: #8970eb;
    --color-light-accent: #390de7;

    --color-light-text-hover: #cdcbd4;
    --color-light-background-hover: #26203b;
    --color-light-primary-hover: #201354;
    --color-light-secondary-hover: #7455e6;
    --color-light-accent-hover: #2c0ab4;

    --color-dark-text: #eae7f3;
    --color-dark-background: #0d091b;
    --color-dark-primary: #a494e6;
    --color-dark-secondary: #2d148f;
    --color-dark-accent: #4318f2;

    --color-dark-text-hover: #bcb9c4;
    --color-dark-hover: #16084d;
    --color-dark-background-hover: #18112c;
    --color-dark-primary-hover: #c1b7f0;
    --color-dark-secondary-hover: #3f22b8;
    --color-dark-accent-hover: #623cf5;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* fixes border-right issue with angular form fields with appearance outline */
.mdc-notched-outline__notch {
    border-right: none;
}

.snackbar-error {
    --mdc-snackbar-container-color: rgba(250, 53, 53, 0.74);
    --mdc-snackbar-supporting-text-color: white;
    --mat-snack-bar-button-color: white;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-expansion-panel {
    box-shadow: none !important;
}

.mat-expansion-panel-body {
    padding: 0 24px !important;
}
