<div class="max-w-7xl mx-auto">
    <app-filter
        [filterFields]="filteredFields"
        (onFilterChange)="onFilterChange($event)"
    ></app-filter>
    <app-table
        [dataSource]="shownIssues()"
        [displayedColumns]="displayedColumns"
        tableHeader="Issues"
        [initialPageSize]="pageSize()"
        [initialPageIndex]="pageIndex()"
        [initialSortActive]="sortActive()"
        [initialSortDirection]="sortDirection()"
        [totalCount]="totalCount()"
        [isLoading]="isLoading()"
        (sortChange)="onSortChange($event)"
        (pageChange)="onPageChange($event)"
        [selectedRow]="selectedRow()"
        (selectedRowChange)="onRowChange($event)"
    ></app-table>
    <div class="fixed right-6 bottom-6 z-50">
        <app-speed-dial
            #speedDial
            [buttons]="speedDialButtons()"
            [selectedRow]="selectedRow()"
            (selectedRowChange)="selectedRow.set($event)"
        ></app-speed-dial>
    </div>
</div>
