<!-- Login Card -->
<div class="w-full max-w-md p-8 space-y-6 bg-white rounded-xl shadow-lg dark:bg-slate-800 m-4">
    <!-- Header -->
    <div class="text-center">
        <h1 class="text-3xl font-bold text-slate-900 dark:text-white">Account Creation</h1>
        <p class="mt-2 text-sm text-slate-600 dark:text-slate-400">Simple and easy</p>
    </div>
    <div class="flex flex-col items-center" *ngIf="signupErrors">
        @for (error of signupErrors; track $index) {
            <mat-error>
                {{ error }}
            </mat-error>
        }
    </div>

    <form class="space-y-4" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Username</mat-label>
            <mat-icon matPrefix class="!text-light-text dark:!text-inherit"
                >account_circle</mat-icon
            >
            <input
                formControlName="username"
                class="focus:border-dark-primary"
                matInput
                type="text"
                autocomplete="username"
                required
                placeholder="asd"
            />
            <mat-error *ngIf="getControl('username')?.invalid">
                <!-- You can also check for specific errors -->
                <span *ngIf="getControl('username')?.hasError('required')"
                    >Username is required.</span
                >
                <span *ngIf="getControl('username')?.hasError('minlength')"
                    >Username must be at least 5 characters.</span
                >
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Email Address</mat-label>
            <mat-icon matPrefix class="!text-light-text dark:!text-inherit">email</mat-icon>
            <input
                formControlName="email"
                class="focus:border-dark-primary"
                matInput
                type="email"
                autocomplete="email"
                required
                placeholder="pat@example.com"
            />
            <mat-error *ngIf="getControl('email')?.invalid">
                <!-- You can also check for specific errors -->
                <span *ngIf="getControl('email')?.hasError('required')">Email is required.</span>
                <span *ngIf="getControl('email')?.hasError('email')"
                    >Provide a valid email address.</span
                >
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full" color="accent" appearance="outline">
            <mat-label>Password</mat-label>
            <mat-icon matPrefix class="!text-light-text dark:!text-inherit">lock</mat-icon>
            <input
                formControlName="password"
                matInput
                type="password"
                autocomplete="current-password"
                required
            />
            <mat-icon
                class="cursor-pointer !text-light-text dark:!text-inherit"
                (click)="togglePwVisibility($event)"
                matSuffix
                >{{ pwVisible ? 'visibility_off' : 'visibility' }}</mat-icon
            >
            <mat-error *ngIf="getControl('password')?.invalid">
                <!-- You can also check for specific errors -->
                <span *ngIf="getControl('password')?.hasError('required')"
                    >Password is required.</span
                >
                <span *ngIf="getControl('password')?.hasError('minlength')"
                    >Password must be at least 6 characters.</span
                >
                <span *ngIf="getControl('password')?.hasError('mustMatch')"
                    >Passwords must match.</span
                >
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full" color="accent" appearance="outline">
            <mat-label>Confirm password</mat-label>
            <mat-icon matPrefix class="!text-light-text dark:!text-inherit">lock</mat-icon>
            <input
                formControlName="rePassword"
                matInput
                type="password"
                autocomplete="current-repassword"
                required
            />
            <mat-icon
                class="cursor-pointer !text-light-text dark:!text-inherit"
                (click)="togglePwVisibility($event)"
                matSuffix
                >{{ rePwVisible ? 'visibility_off' : 'visibility' }}</mat-icon
            >
            <mat-error *ngIf="getControl('rePassword')?.invalid">
                <!-- You can also check for specific errors -->
                <span *ngIf="getControl('rePassword')?.hasError('required')"
                    >Password Confirmation is required.</span
                >
                <span *ngIf="getControl('rePassword')?.hasError('minlength')"
                    >Password Confirmation must be at least 6 characters.</span
                >
                <span *ngIf="getControl('rePassword')?.hasError('mustMatch')"
                    >Passwords must match.</span
                >
            </mat-error>
        </mat-form-field>

        <div>
            <button
                type="submit"
                mat-raised-button
                color="primary"
                class="w-full !py-3 !transition-colors !duration-300 !text-dark-text !bg-light-primary"
            >
                Sign Up
            </button>
        </div>
    </form>

    <!-- Footer -->
    <div class="text-center text-sm flex flex-col gap-2">
        <p>
            Already have an account?
            <a
                routerLink="/auth/login"
                class="font-medium text-light-accent dark:text-dark-primary hover:text-light-accent-hover dark:hover:text-dark-primary-hover"
                >Log in</a
            >
        </p>
        <p>
            Need to verify your email?
            <a
                routerLink="/auth/verify"
                class="font-medium text-light-accent dark:text-dark-primary hover:text-light-accent-hover dark:hover:text-dark-primary-hover"
                >Verify</a
            >
        </p>
    </div>
</div>
