<div class="flex flex-col gap-2">
    @for (route of routes(); track $index) {
        @if (route.children && route.children.length > 0) {
            <mat-expansion-panel [expanded]="isChildrenActive(route.children)" class="w-full">
                <mat-expansion-panel-header
                    class="!px-4 hover:!bg-light-text-hover dark:hover:!bg-dark-hover !transition-[background-color] !duration-100"
                >
                    <mat-panel-title class="flex gap-2">
                        @if (route.icon) {
                            <mat-icon matPrefix>
                                {{ route.icon }}
                            </mat-icon>
                        }
                        {{ route.name }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                @for (child of route.children; track $index) {
                    @if (child.path) {
                        <a
                            class="flex items-center gap-3 w-full ms-2 px-3 py-2 rounded-md hover:bg-light-text-hover dark:hover:bg-dark-hover transition-[background-color] duration-100"
                            [class.my-2]="!$last"
                            [routerLink]="child.path"
                            routerLinkActive="bg-light-text-hover dark:bg-dark-hover"
                            [routerLinkActiveOptions]="matchOption"
                        >
                            @if (child.icon) {
                                <mat-icon> {{ child.icon }} </mat-icon>
                            }
                            {{ child.name }}
                        </a>
                    } @else {
                        <button
                            class="cursor-pointer flex items-center justify-start gap-3 w-full ms-2 px-3 py-2 rounded-md hover:bg-light-text-hover dark:hover:bg-dark-hover transition-[background-color] duration-100"
                            [class.my-2]="!$last"
                            (click)="child.onClick?.()"
                        >
                            @if (child.icon) {
                                <mat-icon> {{ child.icon }} </mat-icon>
                            }
                            {{ child.name }}
                        </button>
                    }
                }
            </mat-expansion-panel>
        } @else {
            <a
                [routerLink]="route.path"
                class="flex items-center gap-2 w-full h-[50px] rounded-md px-4 py-2 hover:bg-light-text-hover dark:hover:bg-dark-hover transition-[background-color] duration-100"
                routerLinkActive="bg-light-text-hover dark:bg-dark-hover"
                [routerLinkActiveOptions]="matchOption"
            >
                @if (route.url) {
                    <img class="rounded-md" [src]="route.url" width="24" height="24" />
                } @else if (route.icon) {
                    <mat-icon>
                        {{ route.icon }}
                    </mat-icon>
                }
                <span class="truncate">{{ route.name }}</span>
            </a>
        }
    }
</div>
