<form class="space-y-4" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="w-full" color="accent" appearance="outline">
        <mat-label>Token</mat-label>
        <mat-icon matPrefix class="!text-light-text dark:!text-inherit">token</mat-icon>
        <input
            formControlName="token"
            matInput
            type="token"
            autocomplete="password-reset-token"
            required
        />
        @if (getControl('token')?.invalid && getControl('token')?.touched) {
            <mat-error class="text-sm">
                @if (getControl('token')?.hasError('required')) {
                    <span>Token is required.</span>
                }
            </mat-error>
        }
    </mat-form-field>

    <mat-form-field class="w-full" color="accent" appearance="outline">
        <mat-label>New Password</mat-label>
        <mat-icon matPrefix class="!text-light-text dark:!text-inherit">lock</mat-icon>
        <input
            formControlName="password"
            matInput
            type="password"
            autocomplete="current-password"
            required
        />
        @if (getControl('password')?.invalid && getControl('password')?.touched) {
            <mat-error class="text-sm">
                @if (getControl('password')?.hasError('required')) {
                    <span>Password is required</span>
                }
                @if (getControl('password')?.hasError('minLength')) {
                    <span>Password should be at least 6 characters</span>
                }
                @if (getControl('password')?.hasError('mustMatch')) {
                    <span>Passwords must match</span>
                }
            </mat-error>
        }
    </mat-form-field>

    <mat-form-field class="w-full" color="accent" appearance="outline">
        <mat-label>Confirm password</mat-label>
        <mat-icon matPrefix class="!text-light-text dark:!text-inherit">lock</mat-icon>
        <input
            formControlName="rePassword"
            matInput
            type="password"
            autocomplete="current-repassword"
            required
        />

        @if (getControl('rePassword')?.invalid) {
            <mat-error class="text-sm">
                @if (getControl('rePassword')?.hasError('required')) {
                    <span>You must confirm your password</span>
                }

                @if (getControl('rePassword')?.hasError('minlength')) {
                    <span>Must be at least 6 characters</span>
                }

                @if (getControl('rePassword')?.hasError('mustMatch')) {
                    <span>Passwords must match</span>
                }
            </mat-error>
        }
    </mat-form-field>

    <div>
        <button
            type="submit"
            mat-raised-button
            color="primary"
            class="w-full !py-3 !transition-colors !duration-300 !text-dark-text !bg-light-primary"
        >
            Reset Password
        </button>
    </div>
</form>
