<div class="flex flex-1 items-center justify-center w-full">
    <div
        class="w-full max-w-md p-6 sm:p-8 space-y-6 bg-white rounded-xl shadow-lg dark:bg-dark-background-hover"
    >
        <div class="text-center">
            <h1 class="text-3xl font-bold text-slate-900 dark:text-white">
                Request Password Reset
            </h1>
            <p class="mt-2 text-sm text-slate-600 dark:text-slate-400">
                Please enter your email address to receive your token.
            </p>
        </div>

        <form class="space-y-4" [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Email</mat-label>
                <mat-icon matPrefix class="!text-light-text dark:!text-inherit">email</mat-icon>
                <input
                    formControlName="email"
                    matInput
                    type="email"
                    autocomplete="current-password"
                    required
                />
                <mat-icon class="cursor-pointer !text-light-text dark:!text-inherit" matSuffix
                    >lock</mat-icon
                >
                @if (getControl('email')?.invalid) {
                    <mat-error class="text-sm">
                        @if (getControl('email')?.hasError('required')) {
                            <span>Email is required.</span>
                        }

                        @if (getControl('email')?.hasError('email')) {
                            <span>Provide a valid email.</span>
                        }
                    </mat-error>
                }
            </mat-form-field>

            <div>
                <button
                    [disabled]="isLoading() || form.invalid"
                    type="submit"
                    mat-flat-button
                    color="primary"
                    class="w-full !text-white"
                >
                    @if (isLoading()) {
                        <ng-container>
                            <span class="flex gap-4">
                                <mat-progress-spinner
                                    color="primary"
                                    diameter="20"
                                    mode="indeterminate"
                                ></mat-progress-spinner>
                                <span>Sending...</span>
                            </span>
                        </ng-container>
                    } @else {
                        Send Email
                    }
                </button>
            </div>
        </form>

        <div class="flex flex-col gap-2 text-center text-sm">
            <div>
                Email received?
                <a
                    [routerLink]="['../reset-password']"
                    class="cursor-pointer font-medium text-light-accent dark:text-dark-primary hover:text-light-accent-hover dark:hover:text-dark-primary-hover"
                >
                    Reset Password
                </a>
            </div>
        </div>
    </div>
</div>
